<!-- inicio bancochileNavbar -->
<div class="bcNavbar">
  <nav class="bcNavbar--dark navbar navbar-dark navbar-expand-lg">
    <div class="container">
      <a class="bcNavbar__logo navbar-brand" href="#">
        <img src="../../assets/img/bancochile__logoW.png" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Saldos</a>
          <a class="nav-item nav-link" href="#">Movimientos</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- fin bancochileNavbar -->
