.bcNavbar
    nav
        height: 100px
        a
            color: #FFF
            &:hover
                color: #C7C7C7
    .bcNavbar--dark
        background: #1a2655 !important
    .bcNavbar__logo
        img
            width: auto
            height: 100%
