<div class="container">
  <!-- inicio bancochileTitulo -->
  <div class="row">
    <div class="bcTitulo">
      <h1 class="bcTitulo__seccion">
        Movimientos de Tarjeta de debito
      </h1>
    </div>
  </div>
  <!-- fin bancochileTitulo -->
  <!-- inicio bancochileCard -->
  <div class="row">
    <div class="bcCard mb-5">
      <div class="bcCard__titulo">
        <h4>Saldo en caja</h4>
      </div>
      <div class="bcCard__contenido">
        <div class="row">
          <div class="col-lg-4 col-sm-12 py-1">
            <div class="bcCard__lista">
              <h4>Consideraciones</h4>
              <ul>
                <li>- Lorem ipsum dolor sit amet, consectetur.</li>
                <li>- Excepteur sint occaecat cupidatat non.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8 col-sm-12">
            <div class="bcCard__contenedor">
              <div class="bcCard__lista bcCard__lista--movimientos">
                <ul>
                  <li>Duis aute irure dolor in reprehenderit in voluptate.<span>$ 2.350.000</span></li>
                  <li>Eiusmod tempor incididunt ut labore et dolore.<span>$ 780.000</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin bancochileCard -->
  <!-- inicio bancochileBuscador -->
  <div class="bcBuscador row mb-5">
    <div class="col-md-8">
      <div class="bcBuscador__titulo">
        <p>Total de movimientos<span>33</span></p>
      </div>
    </div>
    <div class="col-lg-2 offset-lg-2 col-sm-4">
      <div class="bcBuscador__boton">
        <button type="button" class="btn btn-outline-dark btn-block" (click)="busqueda = !busqueda">Buscador</button>
      </div>
    </div>
    <div class="col-md-12" *ngIf="busqueda">
      <div class="bcBuscador__desplegable">
        <div class="row mb-3">
          <div class="col-lg-3 col-sm-4">
            <div class="input-group">
              <select class="custom-select" id="inputGroupSelect02">
                <option selected>Mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Abril</option>
                <option value="3">Mayo</option>
                <option value="3">Junio</option>
                <option value="3">Julio</option>
                <option value="3">Agosto</option>
                <option value="3">Septiembre</option>
                <option value="3">Octubre</option>
                <option value="3">Noviembre</option>
                <option value="3">Diciembre</option>
              </select>
              <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02">
                  <img src="https://image.flaticon.com/icons/svg/149/149363.svg" alt="">
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group">
              <select class="custom-select" id="inputGroupSelect02">
                <option selected>Categoría</option>
                <option value="1">Tarjeta de debito</option>
                <option value="2">Tarjeta de credito</option>
                <option value="2">Credito de consumo</option>
              </select>
              <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02">
                  <img src="https://image.flaticon.com/icons/svg/1141/1141964.svg" alt="">
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group">
              <select class="custom-select" id="inputGroupSelect02">
                <option selected>Cuenta</option>
                <option value="1">Cuenta-001</option>
                <option value="2">Cuenta-002</option>
              </select>
              <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02">
                  <img src="https://image.flaticon.com/icons/svg/1141/1141964.svg" alt="">
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-8">
            <div class="input-group">
              <input class="form-control" placeholder="Busquesa general...">
            </div>
          </div>
          <div class="col-lg-3 offset-lg-3 col-sm-4">
            <div class="bcBuscador__boton">
              <button type="button" class="btn btn-success btn-block">Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin bancochileBuscador -->
  <!-- inicio bancochileMovimientos -->
  <div class="bcMovimientos row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Fecha</th>
          <th scope="col">Destino</th>
          <th scope="col">Asunto</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimiento of movimientos">
          <td scope="row" class="td--w1">{{movimiento.numero}}</td>
          <td>{{movimiento.fecha}}</td>
          <td>{{movimiento.destino}}</td>
          <td>{{movimiento.asunto}}</td>
          <td>{{movimiento.monto}}</td>
        </tr>
      </tbody>
    </table>
    <nav class="col-md-12" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- fin bancochileMovimientos -->
</div>
