.bcTitulo
    width: 100%
    height: 100px
    display: flex
    flex-flow: row wrap
    align-items: center
    .bcTitulo__seccion
        font-size: 26px
        color: #1a2655

.bcCard
    width: 100%
    height: auto
    min-height: 150px
    padding: 1em
    box-sizing: border-box
    background: #f7f8f9
    border: 1px solid #b9b9b9
    color: #616161
    .bcCard__contenido
        padding-top: 1em
    .bcCard__titulo
        width: calc(100% + 2em)
        height: 55px
        display: flex
        flex-flow: row wrap
        align-items: center
        margin-left: -1em
        margin-top: -1em
        padding: 0 1em
        overflow: hidden
        border-bottom: 1px solid #b9b9b9
        h4
            font-size: 20px
            font-weight: 500
            margin: 0
    .bcCard__lista
        width: 100%
        padding: 0.5em 0
        h4
            font-size: 18px
            font-weight: 500
        ul
            margin: 0
            padding: 0
            li
                list-style: none
        span
            display: inline-block
            float: right
            font-weight: 500
        bcCard__lista--movimientos
            li
                list-style: dot
    .bcCard__contenedor
        width: 100%
        height: auto
        min-height: 100px
        display: flex
        flex-flow: row wrap
        align-items: center
        padding: 1em
        box-sizing: border-box
        background: #FFF
        overflow: hidden
        border: 1px solid #b9b9b9
        border-radius: 4px

.bcBuscador
    height: auto
    padding: 0.3em 0
    box-sizing: border-box
    background: #f7f8f9
    color: #616161
    .bcBuscador__titulo
        height: 100%
        display: flex
        flex-flow: row wrap
        align-items: center
        p
            margin: 0
            span
                display: inline-block
                font-weight: 500
                padding-left: 1em
    .bcBuscador__boton
        text-align: right
    .bcBuscador__desplegable
        width: calc(100% + 30px)
        min-height: 150px
        padding: 1em
        margin: 4px 0 -4px -15px
        background: #f3f1f1
        .input-group-append
            label
                img
                    height: 24px

.bcMovimientos
    table
        color: #616161
        thead
            background: #f7f8f9;
        td
            &.td--w1
                width: 1%